.MMM-YouTubeChannelStats div.channel {
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: left;
}
.MMM-YouTubeChannelStats div.channel.grayscale {
  background-color: #000;
  background-blend-mode: luminosity;
}
.MMM-YouTubeChannelStats .fa-comments::before {
  content: "\f27a";
}
.MMM-YouTubeChannelStats .fa-subscribers::before {
  content: "\f500";
}
.MMM-YouTubeChannelStats .fa-videos::before {
  content: "\f03d";
}
.MMM-YouTubeChannelStats .fa-views::before {
  content: "\f06e";
}

.region .right .MMM-YouTubeChannelStats div.channel {
  background-position-x: right;
}
.region .right .MMM-YouTubeChannelStats .fa-ul {
  padding-right: 2.5em;
  padding-left: -2.5em;
  margin-left: 1em;
}
.region .right .MMM-YouTubeChannelStats .fa-li {
  right: -2em;
  left: auto;
}
